---
import Stats from '../../components/en/Stats.astro';
import Services from '../../components/en/Services.astro';
import HeroSection from '../../components/en/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
import Testimonials from '../../components/en/Testimonials.astro';
import CallToAction from '../../components/en/CallToAction.astro';
import Blog from '../../components/en/Blog.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Services/>
		<!-- <Stats/> -->
		<Testimonials/>
		<CallToAction/>
		<!-- <Blog/> -->
	</main>
</Layout>

